.sidebar
  .header
    .header__user-name
      cchiha
      .header__icon
        = fa_icon 'edit'
        = fa_icon 'cog'

  .groups
    .groups__name
      groupname
    .groups__message
      message
